body {
    margin: 0;
    width: 100%;
}

.left, .right {
    margin: 0;
    box-sizing: border-box;
}

.pos .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}

.pos .right {
    position: absolute;
    left: 200px;
    top: 0;
    width: calc(100% - 200px);
}

.float {
    /* BFC */
    margin-top: 2em;
    overflow: hidden;
}

.float .left {
    float: left;
    width: 200px;
}

.float .right {
    margin-left: 200px;
}

.flex {
    margin-top: 0.6em;
    display: flex;
}

.flex .left {
    flex: 0 200px;
}

.flex .right {
    flex: 1;
}